<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
</head>
<body>
    <form action="/accounts/profile/password/{{ user.id }}/" method="POST">
    {% csrf_token %}
        <div style="display: flex; flex-direction: column;">
            <input type="password" name="origin_password" placeholder="현재 비밀번호">
            <input type="password" name="password" placeholder="변경 비밀번호">
            <input type="password" name="password2" placeholder="변경 비밀번호 확인">
            <button type="submit">비밀번호 변경</button>
        </div>
    </form>
</body>

</html>