{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈페이지</title>
</head>
<body>
    <h1>여기는 홈페이지 입니다.</h1>
    <h2>{{ user.username }}님 안녕하세요.</h2>
    <h3>{{ user.nickname }} / {{ user.email }}</h3>
    <button onclick="location.href='accounts/logout/'">로그아웃</button>
    <button onclick="location.href='accounts/delete/'">회원탈퇴</button>
    <button onclick="location.href='accounts/profile/edit/{{ user.id }}/'">회원정보수정</button>
    <button onclick="location.href='accounts/profile/password/{{ user.id }}/'">비밀번호변경</button>

    <button onclick="location.href='contents/upload/'">글쓰기</button>

    {% for feed in feeds %}
    <div style="display: flex; flex-direction: column;">
        <div>{{ feed.id }}</div>
        <div>{{ feed.category }} / {{ feed.title }} 
            <button onclick="location.href='contents/update/{{ feed.id }}/'">수정</button>
            <button onclick="location.href='contents/delete/{{ feed.id }}/'">삭제</button>
        </div>
        <div><img style="width: 300px; min-width: 300px; height: 280px; min-height: 280px; object-fit: cover;" src="{% get_media_prefix %}{{ feed.image }}/"></div>
        <div>{{ feed.user.nickname }}</div>
        <div>{{ feed.created_at | timesince }} 전</div>
    </div>
    {% endfor %}
</body>
</html>